
#titre {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}
    

.section1 {
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'roboto',sans-serif;
}

.image-container {
    position: relative;
    text-align: center;
}

.cover {
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px rgba(216, 216, 216, 0.514);
    position: relative;
}

.overlay-button {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* Aligner le contenu au centre verticalement */
    font-size: 16px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
     font-family:'roboto', sans-serif ;
}

.overlay-button img {
    width: 15px;
    margin-right: 5px;
}


body {

    background: linear-gradient(to right, #000000, #000000f6);

}



.categorie-buttons {
    text-align: center;
margin-top:  20px;
}

.categorie-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
    border: solid red;
    border-radius: 15px;
    cursor: pointer;
    
    
}


.titre {
display: block;
margin: 0 auto;

}

.title {

width: 300px;

}

.separation-ligne {


    box-shadow: 2px 2px 5px rgba(216, 216, 216, 0.514);
color: rgba(119, 119, 119, 0.596);
}