.cover {

    display: block;
    margin: 0 auto;


}

.image-container {
    position: relative;
    display: inline-block;
}

.image-overlay {
    
    margin-top: 770px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.651); /* Fond semi-transparent */
    z-index: 1; /* Pour superposer sur l'image */
}

.overlay-button {
    position: absolute;
    top: 90%; /* Centrer verticalement */
    left: 60%; /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
 z-index: 2;
}