/*  html5resetcss*/
*, ::before, ::after {box-sizing: border-box; margin: 0;padding: 0;}
body{line-height:1;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,abbr,address,code,del,dfn,em,img,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;}
footer,header,nav,section{display: block;}

@font-face {
    font-family: 'netflix_sansmedium';
    src: url('../font/Netflixfont/netflixsans-medium-webfont.woff2') format('woff2'),
         url('../font/Netflixfont/netflixsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sansregular';
    src: url('../font/Netflixfont/netflixsans-regular-webfont.woff2') format('woff2'),
         url('../font/Netflixfont/netflixsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sans_bold';
    src: url('../font/Netflixfont/netflixsans-bold-webfont.woff2') format('woff2'),
         url('../font/Netflixfont/netflixsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'netflix_sanslight';
    src: url('../font/Netflixfont/netflixsans-light-webfont.woff2') format('woff2'),
         url('../font/Netflixfont/netflixsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'netflix_sansregular',"Helvetica Neue","Segoe UI","Roboto","Ubuntu",sans-serif;
}