/* description modal */
.page {
    background : rgb(20, 20, 20);
    background-attachment: fixed;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.container_modal { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modal {
    margin: 25px auto;
    width: 600px;
    /* todo: a modif a la fin */
    height: 600px;
    background: rgba(255, 0, 0, 0.377);
    border-radius: 7px;
}

.maid_preview {
    width: 100%;
    border-radius: 7px 7px 0 0;
}
