 /* description modal */

.page {
    font-family: "netflix_sansregular";
    line-height: 1.2;
    font-size: 10px;
    color: #fff;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* todo: gerer le display pour afficher l'overlay */
    /* display: none; */
    z-index: -1;
}

.container_modal { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 70%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    top: 115px;
    left: auto;
    transform-origin: center top;
    transform: translateX(0px) translateY(calc(-115px + 2em)) scaleX(1) scaleY(1) translateZ(0px);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    opacity: 1;
    margin-bottom: 32px;
    /* todo: a modif a la fin le height */
    height: 200vh;
    background: #181818;
    border-radius: 7px;
}

.modal_close {
    position: absolute;
    margin: 1em;
    right: 0;
    top: 0;
    z-index: 2;
    color: #fff;
}

.closer {
    background-color: #181818;
    border-radius: 50%;
    opacity: 0.7;
    padding: 8px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
}


.modal_preview {
    position: relative;
}

.maid_preview {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.gradient {
    background: linear-gradient(0deg,#181818,transparent 50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ctn__player { 
    bottom: 5%;
    left: 3em;
    position: absolute;
    width: 40%;
 }
 



.maid-title {
    width: 100%;
    margin-bottom: 1.5em;
}

.ctn__progress-bar {
    margin: 20px 0;
}

.progress {
    display: flex;
    align-items: center;
}
.progress-bar {
    margin: 0.5em 0;
    background-color: hsla(0,0%,100%,.3);
    display: block;
    flex-grow: 1;
    height: 2px;
    position: relative;
}
.progress-completed {
    width: 10%;
    background-color: #e50914;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
}

.summary {
    font-size: 16px;
    margin: 0 0 0 8px;
    color: hsla(0,0%,100%,.7);
}

.ctn__btn-control {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    position: relative;
    z-index: 2;
}

.play-link {
    margin: 0.25em;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.btn-play {
    background: #fff;
    color: #000;
    font-size: 12px;
    max-height: 42px;
    padding-left: 0.6rem;
    padding-right: 1.6rem !important;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    appearance: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    position: relative;
    -webkit-box-pack: center;
    white-space: nowrap;
    will-change: background-color, color;
}

.ctn__play-icon {
    line-height: 0;
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.play-icon {
    line-height: 0;
    height: 19px;
    width: 19px;
    overflow: hidden;
    overflow-clip-margin: content-box;
}

.space {
    display: flex;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    width: 0.2rem;
    font: 10px;
}

.play-text {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.ctn_add {
    margin: 0.25em;
    position: relative;
}

.btn_add {
    line-height: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(42,42,42,.6);
    border-color: hsla(0,0%,100%,.5);
    border-width: 2px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

.ctn_add-img {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-img {
    opacity: 0.6;
    width: auto;
    height: 1rem;
}


.ctn_like {
    margin: 0.25em;
    position: relative;
}

.btn_like {
    line-height: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(42,42,42,.6);
    border-color: hsla(0,0%,100%,.5);
    border-width: 2px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

.ctn_like-img {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-img {
    opacity: 0.6;
    width: auto;
    height: 1rem;
}

.ctn__btn-mute {
    position: absolute;
    bottom: 10%;
    right: 3em;
    opacity: 0.4;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    font-size: 16px;
}

.btn_mute {
    line-height: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(42,42,42,.6);
    border-color: hsla(0,0%,100%,.5);
    border-width: 2px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

.ctn_mute-img {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mute-img {
    opacity: 0.6;
    width: auto;
    height: 1.1rem;
}

.modal_content {
    background-color: #181818;
    position: relative;
    font-size: 16px;
    color: #fff;
} 

.wrapper {
    padding: 0 3em;
}
.ctn_grid-detail {
    display: grid;
    position: relative;
    background-color: #181818;
    width: 100%;
    column-gap: 2em;
    grid-template-columns: minmax(0,2fr) minmax(0,1fr);
}

.detail__info {
    margin: 0.8em 0;
}

.ctn__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #fff;
}

.info1 {
    margin: 0.25em -0.5em -0.25em 0;
}

.info2 {
    display: flex;
    align-items: center;
    color: #bcbcbc;
    flex-wrap: wrap;
}

.year {
    margin-right: 0.5em;
}
.duration {
    margin-right: 0.5em;
    white-space: nowrap;
    letter-spacing: 0;
}

.quality {
    margin-right: 0.715em;
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 3px;
    color: hsla(0,0%,100%,.9);
    font-size: .7em;
    padding: 0 0.5em;
    white-space: nowrap;
}

.ctn__age {
    display: -webkit-box;
    margin-top: 0.1rem;
    margin-bottom: 8px;
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
}

.about {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.cadre_age {
    display: inline-block;
    
}

.age {
    border: 1px solid hsla(0,0%,100%,.4);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    overflow: hidden;
    padding: 0 0.4em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.margin-bot {
    margin-bottom: 0.5em;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.ctn__description {
    font-size: 20px;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.ctn_resume {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0.5em;
}

.detail-right {
    display: flex;
    flex-direction: column;
}

.tag-person, .tag-genres, .tag-category {
    font-size: 14px;
    line-height: 20px;
    margin: 0.5em 0.5em 0.5em 0;
    word-break: break-word;
}

.label {
    color: #777;
}

.item {
    color: #ddd;
    cursor: pointer;
    margin: 0;
    outline-color: #fff;
}

.item a {
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
}

.item-more a {
    font-style: italic;
}

.ctn_list-episode {
    background-color: #181818;
    padding: 1em 0 0;
}

.list-episode_header {
    display: grid;
    align-items: baseline;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.ctn_header-title {
    display: flex;
    flex-direction: column;
}

.header-title {
    font-size: 24px;
    font-family: 'netflix_sans_bold', Roboto;
    margin-bottom: 16px;
    margin-top: 32px;
}

.header-type {
    font-size: 18px;
    justify-self: end;
    margin-bottom: 0.5em;
}

.ctn_episode {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
}

.card_episode {
    display: flex;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;
    overflow: hidden;
    padding: 3em;
    position: relative;
    border-top: 1px solid #404040;
    min-height: 8em;

}

.index-episode {
    color: #d2d2d2;
    display: flex;
    font-size: 2em;
    flex: 0 0 7%;
    justify-content: center;
}

.imgWrapper-episode {
    border-radius: 4px;
    flex: 0 0 18%;
    position: relative;
    overflow: hidden;
}

.ctn_img-episode {
    line-height: 1.2;
}

.img-episode {
    display: block;
    max-width: 100%;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.playIcon {
    align-items: center;
    background-image: linear-gradient(195deg,hsla(0,0%,9%,.7),hsla(0,0%,9%,.5) 10%,transparent 25%);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.playIcon svg {
    background-color: rgba(30,30,20,.5);
    border: 1px solid #fff;
    border-radius: 2em;
    height: 3em;
    opacity: 0;
    padding: 0.5em;
    transition: opacity .2s ease-in;
    width: 3em;
    overflow: hidden;
}

.card_episode:hover .playIcon svg {
    opacity: 1;
}


progress.titleCard-progress {
    background-color: grey;
    bottom: 0;
    color: #e94c54;
    block-size: 1em;
    inline-size: 10em;
    height: 0.3em;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
}
progress.titleCard-progress::-webkit-progress-value {
    background-color: #e94c54;
}



.data-episode {
    flex: 0 0 70%;
    font-size: 1em;
    min-height: 100%;
}

.data-episode__title {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0.5em;
}

.title_text {
    font-size: 1em;
    font-family: 'netflix_sans_bold', Roboto;
    overflow-wrap: anywhere;
}

.title_duration {
    padding-left: 10px;
}

.data-episode_paragraphe {
    margin: 0;
    padding: 0 1em 1em;
    color: #d2d2d2;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.current-ep {
    background-color: #333;
}