body {
    background-color: black;
    color: white;
}

.intro {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: url("/clone-netflix/Images/landing.jpg");
    height: 810px;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;

    
}

.logo {
    width: 216px; 
    height: 90.25px; 
    left: 0px; 
    top: 0px; 
    position: absolute
}

.divider {

    height: 8px; 
    position: relative;
    background: #1A1A1A;
    margin: 5px;
}

h2 {
    color: white; 
    font-size: 38px;
   
}

.text {
    color: white; 
    font-size: 26px;
}

.text2 {
    color: white; 
    font-size: 26px;
}

.text3 {
    color: white; 
    font-size: 26px;
}


img {
    width: 471px; 
    height: 353px;
}


.feature {
    display: flex;
    width: 1440px;
    padding: 56px 160px;
    justify-content: space-between;
    align-items: center;
}

.titre {
    padding-top: 200px;
}

.email {
    width: 100%;
    max-width: 600px;
    padding: 14px 24px;
    background-color: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

button {
    background-color: #E50914;
    border: none;
    color: #fff;
    padding: 14px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: #D40712;
    cursor: pointer;
}

.FAQ {
    text-align: center;
    margin-top: 50px;
}

.abc {
    padding: 30px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 300px;

}

h3 {
    font-size: 28px;
    padding-bottom: 30px;
}

a {
    color: rgba(255,255,255,0.7);
}

.footer {
    padding: 20px;
    font-size: 20px;
}